* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.clearfix {
	overflow: auto;
}

body {
	background: #EBEDEA;
}

.top-bar {
	width: 1000px;
	background: #056E03;
	margin: auto;
	margin-top: 10px;
	padding: 20px 30px ;
}

.top-links {
	float: right;
}

.top-links ul {
	list-style: none;
}	

.top-links ul li {
	display: inline-block;
	margin-left: 45px;
}

.top-links ul li:first-child {
	background: #A7FF87;
	border-radius: 15px;
	padding: 2px 5px 2px 10px;
}

.top-links ul li:first-child input {
	border: none;
	background: transparent;
	color: black;
}

.top-links ul li:first-child button {
	border: none;
	height: 22px;
	width: 22px;
	background: url(../img/search.jpg);
	background-size: 21px;
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	border-radius: 50%;
}

.top-links ul li:first-child button:hover {
	cursor: pointer;
	background-size: 25px;
}


.top-links ul li:last-child button {
	border: none;
	border-radius: 15px;
	padding: 5px 20px;
	background: #A7FF87;
}

.top-links ul li:last-child button:hover {
	background: #F2B16A;
	cursor: pointer;
}



header {
	letter-spacing: 2px;
	width: 1000px;
	margin: auto;
}

header .header-text {
	padding: 60px 0 0 0;
	font-size:20px;
	font-variant: small-caps;
	float: left;
}

header img {
	height: 150px;
	float: right;
	margin: 20px 0;
	padding: 0;
	border-radius: 10px;
}



nav {
	width: 1200px;
	margin: auto;
	background: linear-gradient(#09C905,#07A805,#068C04);
	border-radius: 5px;
	position: relative;
}

nav img {
	float: left;
	height: 60px;
	margin: 20px 0 20px 70px;
	border-radius: 50%;
}

nav .nav-menu {
	float: right;
	font-size: 20px;
	color: black;
}

nav .nav-menu ul {
	list-style: none;
}

nav .nav-menu ul li {
	display: inline-block;
	margin: 40px 0 20px 90px;

}

nav .nav-menu ul li:last-child {
	margin-right: 40px;
}

nav .nav-menu ul li a {
	text-transform: uppercase;
	color: black;
}

nav .nav-menu ul li a:hover {
	color: red;
}




.page-content {
	background: #BFD6BD;
	margin: auto;
	width: 1500px;
	margin-top: -50px;
	padding: 70px 0px 50px 0px;
}

.page-content h1 {
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	border-bottom: 2px solid grey; 
	margin-bottom: 40px;
	padding-bottom: 10px;
}


.blocks {
	padding: 0px 0px 0 0px;
	margin: 20px 20px;
	width: 710px;
	box-sizing: border-box;
	font-size: 20px;
	float: left;
}

.forum label {
	display: block;
}

.forum input ,.forum textarea , .forum select {
	font-size: 18px;
	text-align: center;
	padding: 5px 5px 5px 10px;
	border-radius: 10px;
	border: none;
	margin-left: 60px;
	margin-top: 10px;
	width: 350px;
	background: #DDF7DA;
}

.forum textarea {
	height: 130px;
}

.form-group {
	margin-bottom: 30px;
}

.droping {
	list-style: none;
	font-size: 18px;
	text-align: center;
	padding: 5px 5px 5px 10px;
	border-radius: 10px;
	border: none;
	margin-left: 60px;
	margin-top: 10px;
	width: 350px;
	background: #DDF7DA;
}

.blocks button {
	width: 300px;
	margin: 10px 0 10px 85px;
	padding: 10px 0;
	border: none;
	border-radius: 25px;
	background: #88E087;
	font-size: 20px;
}

.blocks button:hover {
	background: #3FFC00;
	cursor: pointer;
}

.blocks-img {
	width: 300px;
	display: block;
	margin: 40px 20px 20px 90px; 
}




.more-section {
	width: 1000px;
	margin: auto;
	background: #E8FAE7;
}

.more-blocks {
	width: 320px;
	margin-left: 10px;
	box-sizing: border-box;
	float: left;
}

.more-blocks ul {
	list-style: none;
	padding: 10px 20px 10px 20px;
}

.more-blocks ul li {
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
}

.more-blocks ul li a::before {
	content: "»  ";
}

.more-blocks ul li a {
	color: green;
}

.more-blocks ul li a:hover {
	color: orange;
}




footer {
	width: 1000px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	border-top: 2px solid grey;
	padding: 5px 20px 0px 20px;
}

footer .z1 {
	float: left;
}

footer .z2 {
	float: right;
}